@import "../../../styles/colors";
@import "../../../styles/vars";
.box-label {
  padding: $xsm-padding $sm-padding;
  font-size: 23px;
  position: relative;
  text-transform: uppercase;
  &.with-background {
    background: $blue-dark;
  }
}