.profile-photo {
  margin: auto;
  padding: 5px;
  background: url("../../../images/photo.jpeg") center no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 5px solid white;
}