@import "../../styles/vars";
.education {
  &:not(:last-child) {
    margin-bottom: $lg-padding;
  }
  .education-head {
    .period {
      margin-right: $xsm-padding;
      white-space: nowrap;
      .date {
        text-transform: capitalize;
      }
      &:before {
        content: '[ ';
      }
      &:after {
        content: ' ]';
      }
    }
    .title {
      font-weight: bold;
    }
  }
  .education-body {
    margin: $sm-padding 0;
    white-space: pre-line;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .school-badge {
      width: 50px;
      height: auto;
      margin-right: $sm-padding;
    }
  }
}