@import "../../../styles/vars";
@import "../../../styles/colors";

.skills {
  padding: $sm-padding 0;
  .content {
    background: $blue-light;
    padding: $sm-padding $sm-padding 0 $sm-padding;

    .js-with-babel {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .js, .babel {
        height: 50px;
        margin-bottom: $sm-padding;
      }
    }
  }
}